<% if current_user %>
  <%= "<h3>Welcome, #{current_user.firstname} #{current_user.lastname}</h3>"%>
  <% if current_user.events.empty? %>
    <a href='/events/create'><p class='event'>Create a new event!</p></a>
  <% else %>
    <div>
    <% current_user.events.each do |event| %>
      <p class='event' id='<%=event.id %>'>
        <img id='plus-<%=event.id%>' class='plus_button' src= 'http://images2.wikia.nocookie.net/__cb20121004232657/micro/images/a/a3/Plus_Button.png'>
        <a href='/events/<%= event.id %>'>
          <%= event.title %> on <%= event.datetime %>
        </a>
        <a href='javascript:void(0)' class='hide' id='<%=event.id%>'>Hide</a>
      </p>
      <div id= 'preview-<%=event.id%>' class= 'hidden preview'>
        <img id='x-<%=event.id%>' class= 'x_button' src= 'http://bookriot.com/wp-content/uploads/2013/07/x.png'><br>
        <%=event.title%>
      </div>
      <p class='event-hidden' id='hidden-<%=event.id%>'><%= event.title %>
        <a href='javascript:void(0)' class='show'>Show</a>
      </p>
    <% end %>
  </div>
  <% end %>
<% else %>
  <h3>Event.ly is your one-stop home for online events</h3>
  <a href="/signup"><p class="event">Sign up today!</p></a>
<% end %>